/* VARIABLES */
:root {
	--clr-timeline: #aaa;
	--clr-entry-back: #ddd;
	--clr-entry-text: #333;
	--line-position: 0%;
	--timeline-zoom: 100%;
	--timeline-height: 2000px;
	--entry-card-width-horizontal: 150px;
	--entry-card-width-vertical: 200px;
	--entry-card-height: 250px;
	--clr-link-text: #333;
	--clr-link-text--hover:#7F7E7E;
}

html {
	position: relative;
	min-height: 100%;
	width: var(--timeline-zoom);
	height: auto;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 35px; /* Set the fixed height of the footer here */
	line-height: 35px; /* Vertically center the text there */
}

/* .app-navbar{
	z-index: 1;
} */

.timeline {
	margin: 300px 60px;
	height: 4px;
	/* width: var(--timeline-length); */
	background-color: var(--clr-timeline);
	position: relative;
}
.timeline-current-point {
	width: 33%;
	height: 100%;
}
.timeline-entries {
	margin: -9px -9px;
	display: flex;
	justify-content: space-between;
}

.timeline-entry-point {
	position: absolute;
	left: var(--line-position);
}
/* ::before psuedo class used to make DOM shorter */
.timeline-entry-point::before {
	content: '';
	width: 14px;
	height: 14px;
	background-color: var(--clr-timeline);
	display: block;
	border-radius: 100%;
}

.timeline-entry-top {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--clr-entry-back);
	width: var(--entry-card-width-horizontal);
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	color: var(--clr-entry-text);
}

.timeline-entry-top img {
	width: 100px;
}

.timeline-entry-bottom {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--clr-entry-back);
	width: var(--entry-card-width-horizontal);
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	color: var(--clr-entry-text);
}

.timeline-entry-bottom img {
	width: 100px;
}

.timeline-entry-top::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: var(--clr-entry-back);
	display: block;
	position: absolute;
	bottom: -2px;
	margin-left: -2px;
	left: 50%;
	transform: rotate(-45deg) translateX(-50%);
}
.timeline-entry-bottom::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: var(--clr-entry-back);
	display: block;
	position: absolute;
	top: -8px;
	margin-left: -2px;
	left: 50%;
	transform: rotate(-45deg) translateX(-50%);
}

.timeline-entry-details{
	background:rgba(255,255,255,.9);
	border:rgba(0,0,0,0.2) 1px solid;
	border-radius: 5px;
	max-width: 75%;
	padding:20px;
	position: absolute;
	margin: 5% 15%;
	
}

.timeline-img{
	max-width: 500px;
	margin-bottom: 10px;
}

.timeline-links{
	color:var(--clr-link-text)
}

.timeline-links:hover{
	color:var(--clr-link-text--hover)
}

.timeline-modal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	display: flex;
}

.timeline-modal img {
	width: 50%;
}

.timeline-title {
	text-align: center;
}

header{
	height: 25%;
	min-height: 400px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://media.lrng.org/a2/e1/c2afbe3d9779dbba9fb33b553a17dbdab446-1920x460.jpg');
	background-position: center;
	background-size: cover;
	width: 100% !important;
	position: absolute;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.15);
	top: 0px;
	right: 0px;
	z-index: -1;
}

.header-tagline__container{
	margin-top:15%;
	margin-bottom: 5rem;
	color: white;
}

/* .featured-timeline__container{
	display: flex;
	justify-content: space-between;
} */

.nav-link--textcolor{
	color:white !important;
}

.nav-bg--color{
	background-color: rgba(0,0,0,.5) !important;
}

li{
	list-style-type: none;
}

.featured-card{
	text-align: center;
}
.featured-card ul{
	padding-left: 0px !important;
}

.teamContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.teamContainer p {
	font-weight: bold;
	color: hsl(209, 61%, 16%);
}
.teamContainer a {
	color: hsl(209, 34%, 30%);
}
.teamCard {
	border: solid #343a40 2px;
	border-radius: 30px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	padding: 10px 0 0 0;
	margin: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	width: auto;
}
.teamCard img {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	margin-bottom: -1px;
}

.featured-timeline__container{
	margin-top: 100px;
}

.header-tagline{
	font-weight: 700;
	margin-bottom: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.featured-timeline__container{
		margin-top: 135px;
	}
}

/* @media screen and (min-width:768px) and (max-width:992px) {

} */


@media only screen and (max-width:550px){
	html {
		width: 100%;
		height: auto;
	}
	.timeline {
		margin: 150px 50% 200px;
		height: var(--timeline-height);
		width: 4px;
		background-color: var(--clr-timeline);
	}
	.timeline-entry-point {
		left: none;
		top: var(--line-position);
		left: -5px;
	}
	.timeline-entry-top {
		bottom: auto;
		left: 30px;
		top: 50%;
		transform: translateY(-50%);
		background-color: var(--clr-entry-back);
		height: var(--entry-card-height);
		width: var(--entry-card-width-vertical);
		padding: 5px 5px;
		color: var(--clr-entry-text);
	}
	.timeline-entry-bottom {
		top: auto;
		left: auto;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		background-color: var(--clr-entry-back);
		height: var(--entry-card-height);
		width: var(--entry-card-width-vertical);
		padding: 5px 5px;
		color: var(--clr-entry-text);
	}
	.timeline-entry-top::before {
		bottom: auto;
		margin-left: auto;
		left: auto;
		left: -2px;
		margin-top: -2px;
		top: 50%;
		transform: rotate(-45deg) translateY(-50%);
	}
	.timeline-entry-bottom::before {
		top: auto;
		margin-left: auto;
		left: auto;
		right: -8px;
		margin-top: -2px;
		top: 50%;
		transform: rotate(-45deg) translateY(-50%);
	}
	.featured-timeline__container{
		margin-top: 150px;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.featured-timeline__container{
		margin-top: 125px;
	}
	.teamContainer{
		flex-direction: column;
	}
	.header-tagline{
		font-size: 2rem;
	}
	.header-tagline__container{
		margin-top: 35%;
	}
	#signup-link-login {
		font-size: 13px;
	}
}