html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 35px; /* Set the fixed height of the footer here */
	line-height: 35px; /* Vertically center the text there */
}

/* VARIABLES */

:root {
	--clr-timeline: #aaa;
	--clr-entry-back: #ddd;
	--clr-entry-text: #333;
	--line-position: 0%;
	--entry-card-width: 150px;
}

.timeline {
	margin: 400px 60px;
	height: 4px;
	background-color: var(--clr-timeline);
	position: relative;
}
.timeline-current-point {
	width: 33%;
	height: 100%;
}
.timeline-entries {
	margin: -9px -10px;
	display: flex;
	justify-content: space-between;
}

.timeline-entry-point {
	position: absolute;
	left: var(--line-position);
}
/* ::before psuedo class used to make DOM shorter */
.timeline-entry-point::before {
	content: '';
	width: 14px;
	height: 14px;
	background-color: var(--clr-timeline);
	display: block;
	border-radius: 100%;
}

.timeline-entry-top {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--clr-entry-back);
	width: var(--entry-card-width);
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	color: var(--clr-entry-text);
}

.timeline-entry-top img {
	width: 100px;
}

.timeline-entry-bottom {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--clr-entry-back);
	width: var(--entry-card-width);
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	color: var(--clr-entry-text);
}

.timeline-entry-bottom img {
	width: 100px;
}

.timeline-entry-top::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: var(--clr-entry-back);
	display: block;
	position: absolute;
	bottom: -2px;
	margin-left: -2px;
	left: 50%;
	transform: rotate(-45deg) translateX(-50%);
}
.timeline-entry-bottom::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: var(--clr-entry-back);
	display: block;
	position: absolute;
	top: -8px;
	margin-left: -2px;
	left: 50%;
	transform: rotate(-45deg) translateX(-50%);
}


@media only screen and (max-width:450px){
  
}